### creating dataframes using different methods

In [1]:
import pandas as pd
import numpy as np

#### finding data type

In [2]:
value_series=pd.Series([10,20,30,40,50])
print(value_series.dtype)

int64

### converting to list

In [3]:
print(value_series.to_list())

[10, 20, 30, 40, 50]

## pandas dataframe

### to create empty dataframe

In [4]:
my_df=pd.DataFrame()
print(my_df)

Empty DataFrame
Columns: []
Index: []

### 1.dataframe using list of lists

In [7]:
fruit_shop=[['apple',100],['orange',120],['grapes',140],['strawberry',160],['pineapple',110],['papaya',90],['watermelon',60],['lemon',30],['blackberry',150],['banana',45]]
my_shop=pd.DataFrame(fruit_shop,columns=['fruits','rate'])
my_shop

       fruits  rate
0       apple   100
1      orange   120
2      grapes   140
3  strawberry   160
4   pineapple   110
5      papaya    90
6  watermelon    60
7       lemon    30
8  blackberry   150
9      banana    45

### 2.dataframe using dictionaries

In [11]:
fruit_shop={'fruits':["apple","orange","grapes","strawberry","pineapple","papaya","watermelon","lemon","blackberry","banana"],'rate':[100,120,140,160,110,90,60,30,150,45]}
my_shop=pd.DataFrame(fruit_shop)
my_shop

       fruits  rate
0       apple   100
1      orange   120
2      grapes   140
3  strawberry   160
4   pineapple   110
5      papaya    90
6  watermelon    60
7       lemon    30
8  blackberry   150
9      banana    45

### dataframe using list of dictionaries

In [14]:
fruit_shop=[{'fruits':'apple','rate':100},
           {'fruits':'orange','rate':120},
           {'fruits':'grapes','rate':140},
           {'fruits':'strawberry','rate':160},
           {'fruits':'pineapple','rate':110},
           {'fruits':'papaya','rate':90},
           {'fruits':'watermelon','rate':60},
           {'fruits':'lemon','rate':30},
           {'fruits':'blackberry','rate':150},
           {'fruits':'banana','rate':45},]
my_shop=pd.DataFrame(fruit_shop)
my_shop

       fruits  rate
0       apple   100
1      orange   120
2      grapes   140
3  strawberry   160
4   pineapple   110
5      papaya    90
6  watermelon    60
7       lemon    30
8  blackberry   150
9      banana    45